
@{
    ViewBag.Title = "Index";
}
<html ng-app="mainApp">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body ng-controller="PeopleController as PCtrl">

    <h2>{{PCtrl.myUserProple}}</h2>

    <div class="col-md-6">
        <div style="overflow-x:auto;">
            <table class="table_legenda table table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                <i class="fa fa-cog" aria-hidden="true"></i> First Name
                                <span ng-show="sortType == 'FirstName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'FirstName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'MiddleInitial'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                <i class="fa fa-cogs" aria-hidden="true"></i> Middle Initial
                                <span ng-show="sortType == 'MiddleInitial' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'MiddleInitial' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'LastName'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                <i class="fa fa-info" aria-hidden="true"></i> Last Name
                                <span ng-show="sortType == 'LastName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'LastName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'DateOfBirth'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                <i class="fa fa-superpowers" aria-hidden="true"></i> Date Of Birth
                                <span ng-show="sortType == 'DateOfBirth' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'DateOfBirth' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th><i class="fa fa-edit" aria-hidden="true"></i> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in PCtrl.otherUserProfiles">
                        @*<tr dir-paginate="items in PCtrl.otherUserProfiles|orderBy:sortType:sortReverse|filter:search|itemsPerPage:display" ng-cloak>*@
                        <td class="hidden"><strong>{{items.Id}}</strong></td>
                        <td>{{items.FirstName}}</td>
                        <td>{{items.MiddleInitial}}</td>
                        <td>{{items.LastName}}</td>
                        <td>{{items.DateOfBirth}}</td>
                        <td class="hidden">{{items.CreatedDate}}</td>
                        <td class="hidden">{{items.ModifiedDate}}</td>
                        <td class="hidden">{{items.ModifiedBy}}</td>
                        <td>
                            <a href="" class="label label-warning" ng-click="PCtrl.editBtn(items.Id)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="" class="label label-danger" ng-click="PCtrl.deleteBtn(items.Id, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="button" ng-click="PCtrl.create()">Create New User</button>

    <div id="modal1" class="modal">
        <form name="EditForm">
            <fieldset>
                
                <div class="form-group">
                    <label class="control-label" for="FirstName">First Name</label>
                    <input ng-model="PCtrl.storeUser1.FirstName"
                           id="firstName"
                           name="firstName"
                           type="text"
                           class="form-control input-md"
                           required />
                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">valid settings of form </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="middleInitial">Middle Initial</label>
                    <input ng-model="PCtrl.storeUser1.MiddleInitial"
                           id="middleInitial"
                           name="middleInitial"
                           type="text"
                           class="form-control input-md"
                           required />
                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input ng-model="PCtrl.storeUser1.LastName"
                           id="lastName"
                           name="lastName"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="DateOfBirth">Date Of Birth</label>
                    <input ng-model="PCtrl.storeUser1.DateOfBirth"
                           id="DateOfBirth"
                           name="DateOfBirth"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="modifiedBy">Modified By</label>
                    <input ng-model="PCtrl.storeUser1.ModifiedBy"
                           id="ModifiedBy"
                           name="ModifiedBy"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" ng-click="PCtrl.submitBtn2(PCtrl.storeUser1)"
                            type="submit"
                            ng-disabled="configForm.$invalid"
                            name=".postConfigSettings">
                        Submit
                    </button>
                    <p>{{PCtrl.storeUser1}}</p>
                </div>

            </fieldset>
        </form>
    </div>
    
    <div id="modal" class="hidden">
        <form name="EditForm">
            <fieldset>
                <div class="form-group">
                    <label class="control-label hidden" for="Id">Id</label>
                    <input ng-model="PCtrl.storeUser.Id"
                           id="Id"
                           name="Id"
                           type="text"
                           class="form-control input-md"
                           required />
                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">valid settings of form </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="FirstName">First Name</label>
                    <input ng-model="PCtrl.storeUser.FirstName"
                           id="firstName"
                           name="firstName"
                           type="text"
                           class="form-control input-md"
                           required />
                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">valid settings of form </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="middleInitial">Middle Initial</label>
                    <input ng-model="PCtrl.storeUser.MiddleInitial"
                           id="middleInitial"
                           name="middleInitial"
                           type="text"
                           class="form-control input-md"
                           required />
                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input ng-model="PCtrl.storeUser.LastName"
                           id="lastName"
                           name="lastName"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="DateOfBirth">Date Of Birth</label>
                    <input ng-model="PCtrl.storeUser.DateOfBirth"
                           id="DateOfBirth"
                           name="DateOfBirth"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="modifiedBy">Modified By</label>
                    <input ng-model="PCtrl.storeUser.ModifiedBy"
                           id="ModifiedBy"
                           name="ModifiedBy"
                           type="text"
                           class="form-control input-md"
                           required />

                    <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" ng-click="PCtrl.submitBtn(PCtrl.storeUser)"
                            type="submit"
                            ng-disabled="configForm.$invalid"
                            name=".postConfigSettings">
                        Submit
                    </button>
                    <p>{{PCtrl.storeUser}}</p>
                </div>

            </fieldset>
        </form>
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/AngularJs/mainApp.js"></script>
    <script src="~/Scripts/AngularJs/genericService.js"></script>
    <script src="~/Scripts/PeopleService/PeopleIndex.js"></script>
</body>
</html>


